[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
singer-python = "*"
singer-target-postgres = "*"

[dev-packages]

[requires]
python_version = "3.7"
